
  
body {
    font-family: "Montserrat", sans-serif;
}
  
nav {
    background-color: rgba(0, 0, 0, 0.8);  /* height: 80px; */
    width: 100%;
    /* padding: 1% 10% 0% 10%;  */
    padding: 0% 10%;
        /* top left bottom right */
    /* display: flex; */
    /* justify-content: space-between; */
    position: fixed;
}
  
.logo img{
    height: 4rem;
    width: 12rem;
    /* padding: 1vh 0; */
    background-color: #fff;
    border-radius: 2vh 0vh;
    margin-top: 8%;
    /* margin-bottom: auto; */
    
}
  

nav ul {
    float: right;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    
}
  
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
    
}
.search-icon{
    font-size:3vh ;
    color: white;
    font-weight: 800;
}
  
nav ul li a {
    color: white;
    font-size: 3vh;
    /* padding: 0px 8px; */
    border-radius: 3px;
    /* text-transform: uppercase; */
    font-weight: bolder;
    text-decoration: none;
}
  
  
.checkbtn {
    font-size: 22px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}
  
#check {
    display: none;
}
  
  
.navy a{
    position: relative;
}
.navy a::after {
    position: absolute;
    bottom: -20%;
    left: 0%;
    /* right: 0; */
    /* margin: auto; */
    background-color: #e9204f;
    width: 0%;
    content: "";
    height: 4px;
    transition: all 0.5s;
}
  
.navy a:hover::after {
    width: 30%;
}
  /* Responsive media query code for small screen */
  @media (max-width: 1200px) {
    .checkbtn {
      display: block;
    }
  
    .logo{
      margin-left: 3%;
      /* margin-top: 10%; */
    }
  
    ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color:black;
  /*     margin-top: 80px; */
      /* left: 20%; */
      text-align: center;
      transition: all .5s; 
      font-weight: bolder;
      top: -100%;
      z-index: -1;
    }
  
    nav{
      padding-left: 0;
      padding-right: 0;
      padding-top: 2%;
      padding-bottom: 2%;
      background-color:black;
    }
    nav ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
  
    nav ul li a {
      font-size: 20px;
    }
  
    a:hover,
    a.active {
      background: none;
      color: rgb(255,75,76);
    }
  
    #check:checked~ul {
  /*     left: 20%; */
      top:12%;
    }
  }
  
  


.background {
    background-image: url('Images/bg-img.jpg'); 
    background-size: cover;
    background-position: center; 
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* justify-content: start;  */
    /* align-items: center;  */
    padding: 0% 10% ;
}

.web-dev-agen{
    color: white; font-size: 5vw; padding-top: 15%; font-weight: bolder;
}
.btn-getting-started{

    color: white;
    width: max-content;
  text-decoration: none;
  background: rgba(0, 0, 0, 0);
  /* margin: 10px; */
  margin: 10% 0%;
  padding: 15px 30px;
  border: 3px solid #e9204f;
  text-align: center;
  overflow:hidden; 
  transition: .6s;
  /* z-index: 1; */

    &:hover{
        /* filter: brightness(1); */
        cursor: pointer;
        box-shadow: inset 11em 0 0 0 #e9204f;
    }
}

.box1{
    color: white;
    background-color: #524545;
    height: auto;
    min-width: 4rem;
    padding: 50px 30px;
    background-color: rgb(27,27,27);

    &:hover .box-logo{
        color: white;
    }
    &:hover{
        background-color: #e9204f;
    }

}

.box-logo{
    font-size: 90px;
    color: #e9204f;
}

.hero-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: auto;
    margin-bottom: 0;
}

.serviece-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    /* padding-left: 10%;
    padding-right: 10%; */
    margin-top: 40px;
}

.sec1{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: rgb(243,243,243);
    padding:3vh 3vh;
    font-size: 2vh;
    cursor: pointer;

    &:hover .serve-text{
        font-size: 2.5vh;
        transition: font-size .5s;
    }
    &:hover{
        background-color: #e9204f;
        color: white;
        font-size: 2.5vh;
        transition: all .5s;
    }
}
.serve-text{
    font-size: 2.2vh;
}

.servieces{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 4%;
}

.news{
    padding-bottom: 8%;
    margin-top: 2%;
}
.work{
    padding: 5% 10%;
}
.subhead1{
    display: flex; flex-direction: column; gap:30px;
    width: 50%;
}
.subhead2{
    width: 50%;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.view-all-btn{
    color: black;
    width: max-content;
    background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  margin: auto 0;
  font-size: 2vh;
  font-weight: bold;
  padding: 15px 30px;
  border: 3px solid #e9204f;
  text-align: center;
  overflow:hidden; 
  /* z-index: 1; */
  
  &:hover{
      /* filter: brightness(1); */
        transition: .6s;
        cursor: pointer;
        box-shadow: inset 11em 0 0 0 #e9204f;
    }
}

.about{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
.about-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 2%;
    margin-bottom: 0;
}


.horizontal-line{
    height: 3px;
    width: 60px;
    background-color: #e9204f;
}

.horizontal-line-white{
    height: 3px;
    width: 60px;
    background-color: white;
}

.horizontal-line-gray{
    height: 3px;
    width: 60px;
    background-color: rgb(211,211,211);
}
.verticle-line{
    height: 60px;
    width: 3px;
    background-color: #e9204f;
    margin: 3% 0%;
    
}

.reviewhead{
    display: flex;
    gap: 50px;
}
.carousel-ap{
    margin-top: 3%;
    /* z-index: -1; */
    /* height: 400px; */
    display: flex;
    gap: 2rem;
}

.review{
    padding: 0% 10%;
}

.btn-inquary{
    /* padding: 10px 20px;
    font-size: 3vh;
    font-weight: 600;
    background-color: rgb(25,25,25);
    color: white;
    border: 4px solid #e9204f; */
    color: white;
    width: max-content;
  text-decoration: none;
  background: rgba(0, 0, 0, 0);
  padding: 10px 20px;
  border: 3px solid #e9204f;
  text-align: center;
  overflow:hidden; 
  
  /* z-index: 1; */
  font-size: 3vh;

    &:hover{
        /* filter: brightness(1); */
        cursor: pointer;
        box-shadow: inset 11em 0 0 0 #e9204f;
        transition: .6s;
    }
}

.rating{
    display: flex;
    /* padding: 0% 10%; */
    gap: 30px;
  }
  
  .review-img{
    /* padding: 10% 10%; */
    /* background-color: #7a4a4a; */
    /* border: 3px solid black; */
    height: 500px;
    transform: rotate(270deg);
    overflow: hidden;
    z-index: -1;
  }
  .sc-img{
    height: 100%;
    width: 100%;
  }
  
  .review-desc{
    background-color: #fff;
    /* border: 3px solid black; */
    height: 500px;
    width: 50%;
    overflow: hidden;
    /* padding: 10% 0%; */
    /* position: absolute; */
  }
  
  
  .line{
    text-transform: uppercase;
    text-align: center;
    height: 100%;
    width: 100%;
    /* background-color: #2980b9; */
    border-radius: 20px;
    /* margin: 10% 0%; */
    margin: 10% 0%;
    transform: rotate(90deg);
  }
  
  .line:first-child{
    animation: anim 18s infinite;
  }
  
  @keyframes anim {
    0%{
      margin-top: 0;
    }
    16%{
      margin-top: -550px;
    }
    33%{
      margin-top: -1100px;
    }
    50%{
      margin-top: -1650px;
    }
    66%{
      margin-top: -1000px;
    }
    82%{
      margin-top: -500px;
    }
    100%{
      margin-top: 0;
    }
  }
  
  .line2{
    /* background-color: grey; */
    height: 100%;
    width: 100%;
    border-radius: 20px;
    /* text-align: center; */
    /* margin: 10% 0%; */
  }
  
  .horizontal-line{
    height: 3px;
    width: 60px;
    background-color: #e9204f;
  }
  
  .horizontal-line-white{
    height: 3px;
    width: 60px;
    background-color: white;
  }
  
  .horizontal-line-gray{
    height: 3px;
    width: 60px;
    background-color: rgb(211,211,211);
  }
  
  .line2:first-child{
    animation: anim2 18s infinite;
  }
  
  @keyframes anim2 {
    0%{
      margin-top: 0;
      /* margin-bottom: 10%; */
    }
    16%{
      margin-top: -500px;
    }
    33%{
      margin-top: -1000px;
    }
    50%{
      margin-top: -1500px;
    }
    66%{
      margin-top: -1000px;
    }
    82%{
      margin-top: -500px;
    }
    100%{
      margin-top: 0;
    }
  }

.footer{
    background-color: rgb(27,27,27);
    padding-top: 6%;
}

.terms{
    display: flex;
    gap: 40px;
}
.terms a{
    text-decoration: none;
    color: white;
    font-size: 2.5vh;
}

.icons{
    height: 60px;
    width: 60px;
    background-color: rgb(0,0,0,0);
    border-radius: 50%;
    /* box-shadow: 0px 10px 10px rgba(0,0,0,0.1); */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #e9204f;
    color: white;
    cursor: pointer;
    font-size: 3vh;

    &:hover{
        bottom: 15%;
        transition: all .5s;
        /* position: relative; */
        transform: translate(0,-20%);
    }
}
  
.footer-contact{
    display: flex;
     justify-content: space-between;
     padding: 0% 10%; 
     align-items: center;
}

.number{
    display: flex; 
    justify-content: center; 
    background-color: rgb(35,35,35);
    padding: 3% 20%; 
    margin-top: 4%;

}

.font-section{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 2vw;
}

.copyright{
    display: flex; 
    justify-content: space-between; 
    padding: 1.5% 10%; 
    align-items: center;
}

.cello{
    width: 100%;
    height: auto;
    margin: 0 5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .cello img{
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform .3s;

    /* &:hover {
      transform: scale(1.2); 
    } */
}

.flickity-page-dots .dot.is-selected {
  background: rgb(255,75,76);
  border: 5px  #8a4343;
}

.flickity-button {
    display: none;
}



@media (max-width: 1024px) {
    .hero-boxes {
        display: flex;
        flex-direction: column; /* Stack horizontally on larger screens */
    }

    .background{
        height: fit-content;
        gap: 60px;
        padding: 0% 4%;
    }

    .serviece-items{
        grid-template-columns: 1fr 1fr;
    }

    .about-box{
        grid-template-columns: 1fr;
    }

    .reviewhead{
        flex-direction: column;
    }

    .font-section{
        grid-template-columns: repeat(3,1fr);
        gap: 2vw;
    }

    .footer-contact{
        flex-direction: column;
        gap: 20px;
        padding: 5% 0%;
    }
    
    .rating{
      flex-direction: column;    
    }

    .review-desc{
      width: 100%;
    }

    .carousel-ap{
      flex-direction: column;
    }

    @keyframes anim2 {
      0%{
        margin-top: 0;
        /* margin-bottom: 10%; */
      }
      16%{
        margin-top: -600px;
      }
      33%{
        margin-top: -1200px;
      }
      50%{
        margin-top: -1700px;
      }
      66%{
        margin-top: -1000px;
      }
      82%{
        margin-top: -500px;
      }
      100%{
        margin-top: 0;
      }
    }
}
@media (max-width:960px){
    .cell{
      width: 50%;
      height: 350px;
      margin: 0 5px;
      overflow: hidden;
  }
}


@media (max-width: 768px) {
    .serviece-items{
        grid-template-columns: 1fr;
    }

    .head{
        flex-direction: column;
    }
    .font-section{
        grid-template-columns: repeat(2,1fr);
        gap: 2vw;
    }
    .number{
        flex-direction: column;
        padding: 5% 0%;
    }
    .copyright{
        flex-direction: column;
        gap: 10px;
        padding: 1% 5%;
        align-items: center;
        justify-items: center;
    }
    .subhead1{
        width: 100%;
    }
    .subhead2{
        width: 100%;
    }
}

@media (max-width:640px){
    .cell{
      width: 100%;
      height: 350px;
      margin: 0 5px;
      overflow: hidden;
  }
  .web-dev-agen{
    margin-top: 100px;
  }
  
  }

  @media (max-width:394px){
  .line2{
    height: fit-content;
  }
  
  }
